tomlkit
gitpython
git+https://github.com/Mizzou-CS-Core/CanvasRequestLibrary.git#egg=canvas_lms_api
colorama
colorlog
git+https://github.com/Mizzou-CS-Core/LabWindowGen.git@sql-integration#egg=gen_assignment_window
git+https://github.com/Mizzou-CS-Core/MUCSDao.git#egg=mucs_database
git+https://github.com/Mizzou-CS-Core/GenGraderTable.git@sql_integration#egg=gen_grader_table